.show{
    display:block;
}
.hide{
    display: none;
}

.citizen-container{
    background-color: rgb(255,215,181);
    margin-bottom: 3em;
}
.selected{
    background-color: rgb(255,215,181);
    border: none;
    height: 100%;
    padding: 1em;
    text-align: center;
}
.unselected{
    background-color: white;
    border: none;
    height: 100%;
    padding: 1em;

    text-align: center;
}

.tab-bar{
    width: 100%;
    background-color: white;
    height: 2em;
    margin: 0;
    padding: 0;
}