.form-container{

}

form{
    display: flex;
    flex-direction: column;
}
.building-container{
    display: flex;
    flex-direction: column;
    border: 3px black;
}
.display-card{
    display: flex;
    flex-direction: horizontal;
}