

$color: rgba(255, 80, 80, 1);
$colorSecondary: #ff6100;


.form-container{
    padding: 1em;
    
}

.form{
    display: block;
}

.formElement{
    /* display: grid; */
    /* grid-template-columns: 0.5fr 1.5fr; */
    /* grid-template-rows: 1.5fr 1fr; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;}
  .formElement + .formElement{
    margin-top: 10px;
  }

.buildingType{
    margin-top:3em;
}

.submit{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgb(255, 115, 0);
    border-color: transparent;
    color: color;
}
.submit:hover{
    background-color: rgb(255, 151, 66);
    color: black;
}

label{
    color: #8597a3;
    position: relative;
    top: 20px;
    // @include transition(all 0.3s);
}
input[type=text]{
    /* border-radius: 5px;
    border-color: transparent;
    background-color: rgba(255, 230, 184, 0.507);
    height: 2em; */
    border: 0;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 14px;
  line-height: 30px;
}
  input[type=text]:focus, input[type=text]:valid {
    outline: 0;
    border-bottom-color: #665856;}
    input[type=text]+label {
      color: #665856;
      // @include transform(translateY(-25px));
    /* & + .input;
    margin-top: 10px; */
}