.form-container-citizen{
    padding: 2em;
    border: solid 3px rgb(49, 134, 204);
    margin: 2em;
    border-radius: 5px;
    box-shadow: inset 0 0 40px rgba(102, 186, 255, 0.5);
    /* box-shadow:  0 0 40px rgba(200,100,100,0.5); */
    
}

.form-citizen{
    display: block;
}

.formElement-citizen{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.5fr 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;}
  .formElement + .formElement{
    margin-top: 10px;
  }

.citizenType{
    margin-top:3em;
}

.submit-citizen{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgb(0, 132, 255);
    border-color: transparent;
    color: color;
    box-shadow: 5px 10px 10px rgba(102, 186, 255, 0.5);
}
.submit-citizen:hover{
    background-color: rgb(66, 211, 255);
    color: black;
    border: 2px solid rgb(0, 119, 255);
    box-shadow: 5px 10px 8px rgba(102, 186, 255, 0.5);
    /* font-weight: bold; */
}

label{
    color: #383434;
    /* position: relative;
    top: 5px; */
}
.text-input-citizen{
    /* border-radius: 5px;
    border-color: transparent;
    background-color: rgba(255, 230, 184, 0.507);
    height: 2em; */
    margin-top:0.5em;
    border: 0;
  /* padding-top: 2em; */
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid rgb(255, 255, 255);
  font: inherit;
  font-size: 14px;
  line-height: 30px;
  /* box-shadow: 5px 10px 8px rgba(200,100,100,0.5); */
}

@keyframes float {
    from {margin-top:0; }
    to {  margin-top:2em;}
}

   .text-input-citizen:focus{
    outline: 0;
    border-bottom-color: rgb(0, 132, 255);
    
    padding-top: 0; 
     };

    
.submit-citizen {
    margin-top: 3em;
    background-color: rgb(0, 132, 255);
}

/* .submit-citizen:hover {
    margin-top: 3em;
    background-color: rgb(0, 132, 255);
} */


input[type=text]:focus + label {
    margin-top: 0;}




input[type="submit"]{
    
    font-size: 100%;
    /* margin-top: 3em; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* background-color: rgb(0, 132, 255); */
}

h2{
    color: #383434;
}

@media only screen and (max-width: 600px) {
    .form-container-citizen{
        padding: 1em;
    }
    
}